<div id="navigation">
  <ul class="nav nav-tabs">
    <li class="<%= 'active' if action_name == 'index' %>"><a href="/">Index</a></li>
    <li class="<%= 'active' if action_name == 'style_guide' %>"><a href="/style_guide">Style Guide</a></li>
    <li class="<%= 'active' if action_name == 'sample' %>"><a href="/sample">Sample</a></li>
    <li class="<%= 'active' if action_name == 'template_parts' %>"><a href="/template_parts">Template Parts</a></li>
    <li class="<%= 'active' if action_name == 'basic' %>"><a href="/basic">Basic</a></li>
    <li class="<%= 'active' if action_name == 'forms' %>"><a href="/forms">Forms</a></li>
    <li class="<%= 'active' if action_name == 'alerts' %>"><a href="/alerts">Alerts</a></li>
    <li class="<%= 'active' if action_name == 'fluid' %>"><a href="fluid">Fluid</a></li>
    <li class="<%= 'active' if action_name == 'no_tab' %>"><a href="/no_tab">No Tabs</a></li>
    <li class="<%= 'active' if action_name == 'layouts' %>"><a href="/layouts">Layouts</a></li>
    <!--<li class="<%#= 'active' if action_name == 'override' %>"><a href="/override">Override</a></li>-->
  </ul>
</div>