<!DOCTYPE html>
<html>
<head>
  <title>Wsu1</title>
  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div id="header">
    <%= image_tag 'logo.png', id: 'logo', alt: 'Winona State University' %>
    <div class="pull-right" id="welcome">
    <h5>Welcome, Namehere | Logout</h5>
    <h5><span>Technical Support: 507-555-5555</span></h5>
    <h1><%= @header_title %></h1>
    </div>
  </div>
  
  <div id="navigation">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#">Application form</a></li>
      <li><a href="#">WSU Home</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">Additional Link</a></li>
      <li><a href="#">Additional Link 2</a></li>
    </ul>
  </div>
  
  <div id="sub-navigation">
    <ul>
      <li><a href="#">Subnav here</a></li>
      <li class="active"><a href="#">Subnav here</a></li>
      <li><a href="#">Subnav here</a></li>
      <li><a href="#">Subnav here</a></li>
      <li><a href="#">Subnav here</a></li>
    </ul>
  </div>
  
  <div id="main_content">  
    <%= yield %>
  </div>

</div>
</body>
</html>
