<!DOCTYPE html>
<html>
<head>
  <title>Winona State University</title>
  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div id="header">
      <%= image_tag 'logo.png', id: 'logo', alt: 'Winona State University' %>
      <div class="pull-right" id="welcome">
      <h5>Welcome, Namehere | Logout</h5>
      <h5><span>Technical Support: 507-555-5555</span></h5>
      <h1><%= @header_title %></h1>
      </div>
    </div>
  
    <div id="navigation">
      <ul class="nav nav-tabs">
        <li class="active"><a href="/">Index</a></li>
        <li><a href="/basic">Basic</a></li>
        <li><a href="/forms">Forms</a></li>
        <li><a href="/alerts">Alerts</a></li>
        <li><a href="tables">Tables</a></li>
        <li><a href="/no_tab">No Tabs</a></li>
        <li><a href="/layouts">Layouts</a></li>
      </ul>
    </div>
  </div><!-- header container -->
  
  <div id="sub-navigation">
    <div class="container">
      <ul>
        <li><a href="#">Subnav here</a></li>
        <li class="active"><a href="#">Subnav here</a></li>
        <li><a href="#">Subnav here</a></li>
        <li><a href="#">Subnav here</a></li>
        <li><a href="#">Subnav here</a></li>
      </ul>
    </div>
  </div><!-- sub-navigation -->
  


  
  
  <div class="content">
    <div class="container">
      
      
        <%= yield %>
    </div>
  </div><!-- content -->

  <div id="footer">
    <div class="pull-left">
      <%= image_tag 'w_logo.gif', style: "display:block;float:left;" %>
         <h5>Technical Support: 507-555-5555</h5>
         <p>Application development by Winona State University<br />
           Winona State University | P.O. Box 5838 | 175 West Mark Street | Winona, MN 55987<br />
           507.457.5000 | 1.800.342.5978 | TTY: 877.627.3848 | <a href="/privacy">Privacy</a> | <a href="mailto:webmaster@winona.edu">webmaster@winona.edu</a></p>
    </div>
    <%= image_tag 'WSUDev_badge.png', class: "pull-right", style: "margin-right:-43px; " %>
  </div>
</body>
</html>
